.my-layout {
  .site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
    height: 100%;
  }
}
.ant-layout-sider {
  width: 90px !important;
  max-width: 90px !important;
  min-width: 90px !important;
  background: #003359 !important;
}
.ant-layout {
  height: 100%;
  .ant-layout-header {
    padding: 0;
  }
}
